/// Package.xcconfig

/// macOS Deployment Target
/// 
/// Code will load on this and later versions of macOS. 
/// Framework APIs that are unavailable in earlier versions will be weak-linked; 
/// your code should check for `null` function pointers 
/// or specific system versions before calling newer APIs.

MACOSX_DEPLOYMENT_TARGET=10.14
IPHONEOS_DEPLOYMENT_TARGET=11.0
SUPPORTED_PLATFORMS = macosx iphoneos iphonesimulator
